:root {
  /*BUSCAR FUENTE font-family: "Rubik", sans-serif;*/

  --color-blue: rgb(133, 192, 202);
  --color-white: white;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--color-white);
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 13px;
}

.menu {
  list-style: none;
  display: flex;
}

.list {
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.main {
  background-color: rgb(175, 220, 226);
  height: 100vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: none;
}

.title {
  text-align: center;
  word-spacing: 100vw;
}
