:root {
  /*BUSCAR FUENTE font-family: "Rubik", sans-serif;*/

  --color-blue: rgb(133, 192, 202);
  --color-white: white;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  padding: 25px 75px 25px 75px;
  width: 100vw;
  background-color: var(--color-white);
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  list-style: none;
}

.list {
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.main {
  background-color: rgb(175, 220, 226);
  height: 100vw;
  width: 100vw;
}

.section-container {
  width: 100vw;
  display: flex;
  align-items: center;
  display: flex;
  display: inline-block;
  border-radius: 5px black;
}

.title {
  display: flex;
  align-items: center;
  text-align: center;
  word-spacing: 100vw;
  font-size: 30px;
}

.form-container {
  border-radius: 5px black;
  text-align: center;
}

form {
  align-items: center;
}

.footer {
  color: black;
}
