:root {
  /*BUSCAR FUENTE font-family: "Rubik", sans-serif;*/

  --color-blue: rgb(133, 192, 202);
  --color-white: white;
}

* {
  margin: 0;
  padding: 0;
}

.menu {
  list-style: none;
  display: flex;
}

.list {
  padding: 10px;
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: row;
}
